<div class="pc-carousel">
    <div class="hp">
        <div class="half a1">

        </div>
        <div class="half a2">
            <h1><strong>SHOP</strong> HP</h1>
            <span class="underline"></span>
            <p>Tuned and tested for optimal performance in virtual reality, the HP ENVY Phoenix is engineered for the future of gaming. Power through the latest games with gigantic memory and storage, plenty of ports, overclocking capability and powerful
                NVIDIA or AMD GPU. An optional liquid cooling system keeps everything quiet and cool while you play.
            </p>
            <button class="button">Shop HP</button>
        </div>
    </div>
    <div>

    </div>
    <div class="alien">
        <img src="" alt="">
        <div class="half a3">
            <h1><strong>SHOP</strong> ALIENWARE</h1>
            <span class="underline"></span>
            <p>Whether it’s the unprecedented power of the Area-51 or the tool-less access of the Aurora, VR-ready PCs from Alienware will make you among the first to experience the future of gaming. Alienware and HTC have partnered to provide a range of
                systems that will take you to the next level and beyond, ensuring an incredible VR experience today and tomorrow. Customizable lighting, uncompromising performance and distinct, dynamic looks make Alienware a perfect pair for Vive.</p>
            <button class="button">Shop Aurora</button><button class="button">Shop Area-51</button>
        </div>
        <div class="half a4">

        </div>
    </div>
    <div>

    </div>
    <div class="msi">
        <div class="half a5"></div>
        <div class="half a6">
            <h1><strong>SHOP</strong> MSI</h1>
            <span class="underline"></span>
            <p>MSI, the leading computer brand in gaming, always delivers the latest and greatest gaming solutions. The GT72 and GT80 series are gaming notebooks designed to power Vive. With an overclock-ready Intel Core i7 processor, powerful NVIDIA GPU
                and massive amount of memory capacity, you’ll enjoy the best VR content right out of the box.</p>
            <button class="button">Shop MSI</button>
        </div>
    </div>
    <div>

    </div>
</div>