<div class="carousel">
    <div>
        <div class="half c1">
            <img src="app/assets/images/pin_01.png" alt="">
            <h1>NAVIGATE <br><span>NATURALLY</span></h1> <span class="underline"></span>
            <p>Multi-function trackpad provides effortless precision and HD haptic feedback.</p>
        </div>
        <div class="half c2"></div>
    </div>
    <div>

    </div>
    <div>
        <div class="half c3"></div>
        <div class="half c4"><img src="app/assets/images/pin_02.png" alt="">
            <h1>REMARKABLE <br><span>GAME PLAY</span></h1><span class="underline"></span>
            <p>Dual-state triggers with HD haptic feedback bring VR experiences to a new level.</p>
        </div>
    </div>
    <div>

    </div>
    <div>
        <div class="half c5"><img src="app/assets/images/pin_03.png" alt="">
            <h1>SEAMLESS <br><span>INTERACTION</span></h1><span class="underline">
        </span>
            <p>Two handheld controllers each have 24 sensors for accurate tracking.</p>
        </div>
        <div class="half c6"></div>
    </div>
    <div>

    </div>
    <div>
        <div class="half c7"></div>
        <div class="half c8"><img src="app/assets/images/pin_04.png" alt="">
            <h1>360&deg; OF <br><span>AWESOME</span></h1> <span class="underline"></span>
            <p>Two base stations deliver 360&deg; motion tracking for superior VR experiences.</p>
        </div>
    </div>
    <div>

    </div>
    <div>
        <div class="half c9"><img src="app/assets/images/pin_05.png" alt="">
            <h1>SIMPLY <br><span>SYNCED</span></h1> <span class="underline"></span>
            <p>Base stations sync wirelessly and only require a power cable (not pictured).</p>
        </div>
        <div class="half c10"></div>
    </div>
    <div>

    </div>
</div>