<div class="carousel">
    <div>
        <div class="half d1"></div>
        <div class="half d2"> <img src="app/assets/images/pin_01.png" alt="">
            <h1><span>VIVE DELUXE <br> AUDIO STRAP </span></h1>
            <span class="underline"></span>
            <p>An easy-to-adjust sizing dial makes it easy to put on and take off the headset.</p>
            <button class="button">Get Details</button>
        </div>
    </div>
    <div>

    </div>
    <div>
        <div class="half d3"><img src="app/assets/images/pin_02.png" alt="">
            <h1><span>VIVE TRACKER</span></h1>
            <span class="underline"></span>
            <p>Incorporate new objects into your virtual world with VIVE Tracker, which allows real-world items to become motion-tracked objects or controllers in VR.</p>
            <button class="button">Get Details</button>
        </div>
        <div class="half d4"></div>
    </div>
    <div>

    </div>
</div>