<div class="buffer"></div>
<div class="banner">
    <h1>GO BEYOND YOUR <strong>VR CONTROLLERS</strong></h1>
    <p>Vive Tracker brings any real-world object into your virtual world! Add it to specially-designed accessories to play your favorite games. Attach it to a camera and put yourself in your own mixed reality videos. The possibilities are endless!</p>
    <img src="app/assets/images/tracker-3.png" alt="">
</div>
<div class="content">
    <h1><strong>TRACK</strong> WHATEVER YOU WANT EASILY</h1>
    <p>The Vive Tracker creates a wireless and seamless connection between your attached tools and the Vive system. You can also attach a DSLR camera to the Vive Tracker to make mixed reality videos and expand the fun.</p>
</div>
<div class="banner2">
    <img src="app/assets/images/tracker-s03.png" alt="">
</div>
<div class="content">
    <h1>UNLEASH YOUR <strong>IMAGINATION</strong></h1>
    <p>With the new Vive Tracker, you are now free to develop VR games and experiences that were never possible before. With a compact, highly flexible, easy to attach tracker, you’ll be able to design a pair of gloves to play musical instruments or rock
        climb. Or a ping pong paddle for more convenience and a more complete experience.* </p>
    <h6>*Always ensure play area is entirely clear of all objects, obstacles and other individuals when using Vive Tracker on any object intended to be moved while wearing the Vive headset.</h6>
    <div class="vidpic">
        <div class="vid"><video autoplay loop playsinline preload='auto'>
            <source src="app/assets/tracker.mp4" type=""> </video></div>
        <div class="pic">
            <img class="gloves" src='app/assets/images/gloves.png'>
            <img class="gun" src='app/assets/images/gun.png' alt=" ">
        </div>

    </div>
    <h1>BRING YOUR DSLR <strong>IN TO VR</strong></h1>
    <p>Make your own mixed reality videos with your own camera! Simply attach your DSLR to Vive Tracker and you now become the center of your virtual world. All of your friends and family can watch and be part of the action as well. You can even record yourself
        to improve your gaming performance.</p>
</div>

<div class="footer ">
    <div class="image "><img src="app/assets/images/tracker5.png " alt=" "></div>
    <div class="bottomright ">
        <h1><strong>EXPAND</strong> YOUR VR TOOLBOX</h1>
        <p>Get the latest updates on this powerful and versatile <br>tracking accessory by simply signing up with your email <br>below.</p>

        <button class="button ">Stay Updated</button> </div>

</div>