<div class="pc-carousel2">
    <div class=" b b1">
        <h1><strong>SHOP</strong> NVIDIA</h1>
        <p>GeForce GTX is the ultimate graphics platform for VR. Enter a new world of immersive gaming with blazing-fast performance, plug-and-play compatibility and industry-leading NVIDIA GameWorks™ VR technology that only high-end GTX cards can provide.</p>
        <button class="button">Shop NVIDIA</button>
    </div>
    <div class=" b b2">
        <h1><strong>SHOP</strong> AMD</h1>
        <p>AMD Radeon™ graphics enables immersive, interactive and intuitive VR user experiences delivering rich, lifelike realism and amazing visual fidelity that seem every bit as real as the physical world. AMD’s innovative LiquidVR™ technology enables
            users to build single or multi-GPU systems recommended for VR that enable near-photorealistic imagery in real time, at high resolutions, in stereo and at high refresh rates.</p>

        <button class="button">Shop AMD</button> </div>
</div>