<dev-nav></dev-nav>
<div class="banner">
    <h1>INTRODUCING <span class="blue-text">VIVE TRACKER</span>
        <br><strong>FOR DEVELOPERS</strong></h1>
    <p>Bring any real-world object into your virtual world! Add it <br> to specially-designed accessories to play your favorite <br> games.</p>
    <button class="button">Apply Now</button>
    <img src="app/assets/images/dev-tracker.png" alt="">
</div>
<div class="content">
    <div class="left">
        <h1 class="blue-text">VIVE TRACKER</h1>
        <h3>Beyond Controllers</h3>
        <p>VIVE Tracker makes it easier to design alternate controllers like guns, gloves, virtual cameras and so much more.</p>
        <h3>Endless Possibilities</h3>
        <p>Easy to attach via a standard tripod mount, VIVE Tracker opens endless creative possibilities for new and existing peripherals.</p>
        <h3>Mixed Reality Videos</h3>
        <p>To record mixed reality footage, mount VIVE Tracker on a camera. Recording mixed reality requires additional editing software and a custom build of the VR title.</p>

        <iframe src="https://www.youtube.com/embed/yutdalJoctc" frameborder="0" allowfullscreen></iframe>


    </div>
    <div class="right">
        <h3>Resources</h3>
        <ul>
            <li>
                <a href="">Vive Tracker Developer Guildeline</a>
            </li>
            <li>
                <a href="">Vive Tracker 3D Model</a>
            </li>
            <li>
                <a href="">Vive Tracker FAQ</a>
            </li>
        </ul>
        <h3>Developer Discussion</h3>
        <p><a href="">Join the Conversation</a></p>
        <p>Connect, critque and share your thoughts in a private forum. Learn from other developers, ask questions and connect with the community helping shape the future of virtual reality.</p>
        <h3>Discuss Development</h3>
        <p>Talk with fellow developers about your challenges and solutions developing for Vive Tracker.</p>
        <h3>Get Support</h3>
        <p>As well as help from your peers, talk directly to the Vive Tracker.</p>
    </div>
</div>
<div class="btmbnr">
    <div class="hunned"><img src="app/assets/images/tracker-2.png" alt=""></div> <button class="button">Apply Now</button>
</div>