<div class="home-comp">
    <vive-carousel></vive-carousel>
    <div class="banners">
        <div class="banner bnr1">
            TRY VIVE TODAY
        </div>
        <div class="banner bnr2">
            VIVE TRACKER
        </div>
        <div class="banner bnr3">
            VIVE DELUXE AUDIO STRAP
        </div>
        <div class="banner bnr4">
            <div class="inner-banner bnr5">
                <p>VIVEPORT DEVELOPER PORTAL</p>
            </div>
            <div class="inner-banner bnr6">
                <p>VIVE STUDIOS</p>
            </div>
        </div>
    </div>



    <div>
        <div class="video-box">
            <h1>POWERFUL <strong>IMMERSION</strong></h1>
            <p>Putting on the VIVE headset washes away the real world with fantastical experiences–from rec room-type <br>games like ping-pong or pool to experiences spanning categories. SteamVR™ Tracking, stunning graphics,<br> a 110˚ field of view, intuitive
                controls and HD haptic feedback provide an unparalleled sense of immersion.</p>
        </div>
        <video class='video' autoplay loop muted playsinline preload='auto'>
        <source src="app/assets/vive-video.mp4" type="video/mp4">
    </video>

    </div>

    <vive-carousel2></vive-carousel2>
    <span class="space"></span>
    <div class="explore">
        <div class="explore-1">
            <h1><b>EXPLORE</b> <br> WHAT'S NEW</h1>
            <div>
                <p>GET A VIVE FOR AS LOW AS $40 PER MONTH WITH NEW FINANCING OPTIONS!</p>
            </div>
        </div>
        <div class="explore-2">
            <div class="explore2-1">
                <p>SHOP VIVE ACCESSORIES</p>

            </div>
            <div class="explore2-2">
                <p>VIVE STATEMENT REGARDING STEAMVR</p>
            </div>
        </div>
        <div class="explore-3">
            <img src="" alt="">
            <h3>Top Tech of CES 2017–Best Gaming </h3>
            <strong>Digital Trends</strong>
            <h3>2017 CES Awards–Best Gaming Device </h3><strong>TechRadar</strong>
            <h3>Best Product Award Gadget</h3>
            <strong>Computer Build</strong>
            <img src="" alt="">
        </div>

    </div>
    <div class="vr-content">
        <h1>THE BEST IN VR <strong>CONTENT</strong></h1>
    </div>
    <video class='video' autoplay loop muted playsinline preload='auto'>
        <source src="app/assets/landscapes.mp4" type="video/mp4">
    </video>
    <div class="vive-near-you">
        <h1>VIVE <strong>NEAR YOU</strong></h1>
        <p>Visit a VIVE tour location and get a demonstration of the most immersive VR system. See the best in games, interactive content and 360˚ video. Talk to experts about what’s next and join the future.</p>
        <div>
            <h2>CES 2017</h2>
            <p>Jan. 5-8 2017 Las Vegas, NV</p>
        </div>
        <div class="">
            <h2>Retail Stores</h2>
            <p>Find a Vive demo near you:</p>
            <a href="">
                <p>Microsoft Stores</p>
            </a><br>
            <a href="">
                <p>Gamestop Stores</p>
            </a><br>
            <a href="">
                <p>Micro Center Stores</p>
            </a>
        </div>
        <p><span class="button">View Store Locations</span></p>

    </div>
    <div class="email-form">
        <div class="email-col">
            <h1>STAY UP TO DATE WITH <br>THE <strong>LATEST ON VIVE</strong></h1>
        </div>
        <form>
            <div class="email-col">
                <input type="text" name="" value="" placeholder='Type your email address'><br>
                <div class="block-select">
                    <select class="region" id="js-stay-updated-select">
					<option selected="selected" value="null">Select your country</option>
					<option value="null">---</option>
					<option value="at">Österreich</option>
					<option value="au">Australia</option>
					<option value="be-nl">België</option>
					<option value="be-fr">Belgique</option>
					<option value="br">Brazil</option>
					<option value="ca">Canada - English</option>
					<option value="ca-fr">Canada - Français</option>
					<option value="cz">Česká republika</option>
					<option value="cn">中国</option>
					<option value="ck">Danmark</option>
					<option value="de">Deutschland</option>
					<option value="es">España</option>
					<option value="fi">Suomi</option>
					<option value="fr">France</option>
					<option value="gr">Ελλάδα</option>
					<option value="hk-en">Hong Kong</option>
					<option value="hk-tc">香港</option>
					<option value="hr">Hrvatska</option>
					<option value="in">India</option>
					<option value="id">Indonesia</option>
					<option value="ie">Ireland</option>
					<option value="it">Italia</option>
					<option value="jp">日本</option>
					<option value="kr">한국</option>
					<option value="kz">Казахстан</option>
					<option value="latam">América Latina</option>
					<option value="hu">Magyarország</option>
					<option value="mea-en">Middle East</option>
					<option value="mea-sa">الشرق الأوسط</option>
					<option value="mm">Myanmar</option>
					<option value="nl">Nederland</option>
					<option value="nz">New Zealand</option>
					<option value="no">Norge</option>
					<option value="ru">Россия и СНГ</option>
					<option value="pl">Polska</option>
					<option value="pt">Portugal</option>
					<option value="ro">România</option>
					<option value="ch-de">die Schweiz</option>
					<option value="ch-it">Svizzera</option>
					<option value="ch-fr">Suisse</option>
					<option value="rs">Србија</option>
					<option value="sk">Slovensko</option>
					<option value="sea">Singapore</option>
					<option value="se">Sverige</option>
					<option value="tw">台灣</option>
					<option value="th">ประเทศไทย</option>
					<option value="tr">Türkiye</option>
					<option value="ua">Україна</option>
					<option value="uk">United Kingdom</option>
					<option value="us">United States</option>
					<option value="vn">Việt Nam</option>
				</select>
                </div>
            </div>
            <div class="email-col">
                <button class="button white">Sign Up</button>
            </div>
        </form>
    </div>
    <div class="partners">
        <h1><strong>PARTNERS</strong> IN VIRTUAL REALITY</h1>
        <p>VIVE was developed by HTC and Valve to deliver on the promise of VR. The virtual reality community partnering with VIVE today includes an international base of users, developers and businesses while continuing to grow every day.</p>
        <div class="images">
            <img src="app/assets/images/valve.png" alt="">
            <img src="app/assets/images/owlchemy.png" alt="">
            <img src="app/assets/images/wevr.png" alt="">
            <img src="app/assets/images/google.png" alt="">
            <img src="app/assets/images/cloudhead.png" alt="">
            <img src="app/assets/images/lionsgate.png" alt="">
        </div>
    </div>
</div>