<dev-nav></dev-nav>
<div class="cert">
    <h1>HTC announces Vive™ Development and training for accessories and peripherals</h1>
    <p>HTC enables third party partners to build accessories and peripherals for a richer VR experience for consumers and business users.</p>
    <p>HTC will begin working with third party developers and hardware makers to expand the accessories and peripherals ecosystem for the HTC Vive. HTC will hold in-person training courses in Asia to complement the courses being provided in the US by Valve
        and Synapse. These training courses will provide development resources, software for developing tracked accessories and peripherals, technical support for integration, and go-to-market resources when their products are ready. The program is expected
        to facilitate rapid development of innovative hardware solutions to create new ways for people to interact with their virtual world.</p>

    <div class="btn"><button class="button">Apply now!</button></div>
</div>