<div class="top-carousel">
    <div class="box1">
        <div>
            <h1>VIVE TRACKER</h1>
            <p>Go beyond your VR Controllers</p>
            <button class="button">Learn More</button>
            <button class="button">Order VIVE</button>
        </div>
    </div>
    <div class="box2">
        <div>
            <h1>VIVE DELUXE AUDIO STRAP</h1>
            <p>Wrapped in virtual reality comfort</p>
            <button class="button">Learn More</button>
            <button class="button">Order VIVE</button>
        </div>
    </div>
    <div class="box3">
        <div>
            <h1>THIS IS <strong>REAL</strong></h1>
            <p>Discover virtual reality beyond imagination</p>
            <button class="button">Try VIVE</button>
            <button class="button">Order VIVE</button>
        </div>
    </div>
</div>