<div class="top-carousel">
    <div class="box1">
        <div>
            <h1>VIVE TRACKER</h1>
            <p>Go beyond your VR Controllers</p>
            <a [routerLink]="['/tracker']"><button class="button">Learn More</button></a>
            <a [routerLink]="['/accessories']"><button class="button">Order VIVE</button></a>
        </div>
    </div>
    <div class="box2">
        <div>
            <h1>VIVE DELUXE AUDIO STRAP</h1>
            <p>Wrapped in virtual reality comfort</p>
            <a [routerLink]="['/audio']"><button class="button">Learn More</button></a>
            <a [routerLink]="['/accessories']"><button class="button">Order VIVE</button></a>
        </div>
    </div>
    <div class="box3">
        <div>
            <h1>THIS IS <strong>REAL</strong></h1>
            <p>Discover virtual reality beyond imagination</p>
            <a href="http://locator.vive.com"><button class="button">Try VIVE</button></a>
            <a [routerLink]="['/accessories']"><button class="button">Order VIVE</button></a>
        </div>
    </div>
</div>