<div class="buffer"></div>
<div class="banner">
    <h1><strong>WELCOME TO VIVE</strong><br>LET'S GET YOU SET UP</h1>
</div>
<div class="content">
    <div class="left">
        <h2>JUST GOT THE BOX? <br><strong>SET UP YOUR VIVE</strong></h2>
        <button class="button">Download Vive Setup</button>
        <p>Vive Setup will walk you through setting up your Vive and installing all of the software that you need to use it. You'll get the:</p>
        <ul>
            <li>Vive setup tutorial</li>
            <li>Vive desktop app where you can browse, purchase, download and launch Viveport and other VR experiences</li>
            <li>Vive Home VR app, your own customizable VR environment</li>
            <li>Steam Client if not already installed</li>
        </ul>
        <p>Requirements: Microsoft .NET Framework 4.6 or later, internet connection, mounting tools (drill, screwdriver etc.)</p>
        <h2>ALREADY SET UP? </h2>
        <h2><strong>PERSONALIZE YOUR EXPERIENCE WITH VIVEPORT AND VIVE HOME</strong></h2>
        <button class="button">Download Vive Software</button>
        <p>Vive software includes the:</p>
        <ul>
            <li>Vive desktop app where you can browse, purchase, download and launch Viveport and other VR experiences</li>
            <li>Vive Home VR app, your own customizable VR environment</li>
        </ul>
        <p>Requirements: Microsoft .NET Framework 4.6 or later and internet connection</p>
    </div>
    <div class="right">
        <div class="setup">
            <div class="item"><img src="app/assets/images/setup-play.png" alt="">
                <p>Watch Setup Video</p>
            </div>
            <div class="item"><img src="app/assets/images/setup-support.png" alt="">
                <p>Support</p>
            </div>
            <br>
            <div class="item"><img src="app/assets/images/setup-download.png" alt="">
                <p>Download User Guide</p>
            </div>
            <div class="item steam"><img src="app/assets/images/setup-steam.png" alt="">
                <p>SteamVR Support</p>
            </div>
        </div>
    </div>

</div>
<div class="bottom">
    <div class="btml">
        <h3>
            RECOMMENDED COMPUTER SPECS</h3>
        <p><strong>Processor:</strong></p>
        <p><strong>Graphics: </strong></p>
        <p><strong>Memory: </strong>4 GB RAM or more</p>
        <p><strong>Video output:</strong>1x HDMI 1.4 port, or DisplayPort 1.2 or newer</p>
        <p><strong>USB: </strong>1x USB 2.0 port or newer</p>
        <p><strong>Operating System:</strong> Windows™ 7 SP1, Windows™ 8.1 or later or Windows™ 10</p>
    </div>
    <div class="btmr">
        <h3>PLAY AREA REQUIREMENTS</h3>
        <p><strong>Room-Scale: <br></strong>2 m x 1.5 m (6 feet 6 inches x 5 feet) minimum room size 5 m (16 feet) maximum between base stations</p>
        <p><strong>Standing / Seated <br></strong> No minimum space requirements</p>
    </div>

</div>