<div class="bottom-carousel">
    <div>
        <h1><strong>EXPERIENCES</strong> YOU'LL LOVE</h1>
        <p>Enjoy over a thousand games for SteamVR&trade;, plus everything you love about Steam in virtual reality. Keep tabs on the newest releases, automatically download game updates and create and share content with millions of your closest friends on
            Steam
        </p>
        <img src="app/assets/images/Steam.jpg" alt="">
    </div>
    <div>
        <h1><strong>YOUR LIFE</strong> IN VR</h1>
        <p>Viveport is a global virtual reality app store, showcasing en aver-growing portfolio of VR experiences across a wide variety of content categories. Explore new worlds, create things and connect with friends in fantastic new ways. Viveport is available
            on Vive, web browsers and as desktop and mobile apps</p>
        <img src="app/assets/images/myViveport.jpg" alt="">
    </div>
    <div>
        <h1>OFFICIAL <strong>VIVE ACCESSORIES</strong></h1>
        <p>Incorporate new objects into your virtual world with VIVE Tracker. Make it easier to put on and take off the headset with VIVE Deluxe Audio Strap, featuring interior padding and integrated on-ear headphones. Official accessories for VIVE are here.</p>
        <img src="app/assets/images/Accessories.jpg" alt="">
    </div>
    <div>
        <h1>ROOM-SCALE <strong>VIRTUAL REALITY</strong></h1>
        <p>SteamVR&trade; Tracking provides a superior virtual reality experience thanks to low latency, sub-millimeter accuracy and 360&deg; coverage. Explore virtual worlds while seated, standing or moving around in a room. Space-room-scale VR puts you
            at the center of everything.</p>
        <img src="app/assets/images/another-carousel.jpg" alt="">

    </div>
</div>