<product-nav></product-nav>
<div class="banner">
    <h1><strong>VIVE</strong> INSTALLATION SERVICE</h1>
</div>
<div class="content">
    <p>In select cities, you can have your Vive system quickly installed by a professional. Our team will will determine an optimal room setup, mount the base stations, connect all components to your computer and complete the software setup process. Wires
        and cables will be neatly tied together and the workspace will be cleaned when we’re all done. </p>
    <div class="availability">
        <h3>Check for availability</h3>
        <input type="" name="" value="">
        <button class="button">Continue</button> </div>
    <h2>Installation package includes: </h2>
    <ul>
        <li>Mounting base stations</li>
        <li>Connecting Vive components to your computer</li>
        <li>Setting up Steam®VR software</li>
        <li>Organizing wires and cables–zip ties used as needed</li>
        <li>Limited 30-day workmanship warranty</li>
    </ul>
    <h2>Scheduling your installation </h2>
    <p>After purchasing Vive Installation Service, you’ll receive a confirmation email. Our team will contact you by phone within 2 business days of receiving your confirmation to schedule your installation. You’ll need to confirm that your play area and
        computer are prepared for the service.</p>
    <button class="button">Test Your PC</button>
</div>
<div class="warning">
    <p>*The Vive installer will not be able to move furniture or equipment upon arrival. There may be additional charges if the installer arrives and the play area or computer is not ready. Commercial and retail locations are not eligible for Vive Installation
        Services. An adult 18 years of age or older who is authorized to supervise service at the residence must be present during the entire installation. Use of Vive Instlation Services does not release customer from the responsibility for reviewing
        Safety Guides and Product Manuals. Vive Installation Services will be provided by a third party provider, DecisionOne Corporation. </p>
    <p>*Vive Installation Service does not include: PC computer setup or general troubleshooting, moving furniture, concealing cables in walls, custom wiring or mounting.</p>
    <p>*You authorize HTC and Digital River to share your contact information with DecisionOne Corporation for purposes of installation fulfillment. HTC only shares your data in accordance with its Privacy Policy.</p>
</div>