<dev-nav></dev-nav>

<div class="banner">
    <h1>INTRODUCING VIVE STUDIOS</h1>
    <p>Vive Studios is HTC Vive’s development and publishing initiative for virtual reality content. We’re here to help the industry’s best content creators turn their creative VR concepts into reality. Our interest in VR extends well beyond games and entertainment,
        covering content that’s intended for all major VR platforms.</p>
    <button class="button">Submit Proposal</button>
</div>

<div class="content">
    <div class="left">
        <img src="app/assets/images/vive-studios.png" alt="">
        <h3>VR Ecosystem Growth</h3>
        <p>Vive Studios’ mission is to discover and empower development talent, and give everyone access to content that pushes the boundaries of VR.</p>
        <h3>Only the Best</h3>
        <p>Vive Studios delivers high-quality immersive VR content created by some of the world’s best talent. We believe that investing in excellent content will allow our development partners to generate revenue and profit, helping the virtual reality
            ecosystem to thrive and prosper.</p>
        <h3>Publishing Expertise</h3>
        <p>Vive Studios is led by a team with experience creating and launching numerous VR titles. We’re the partner to turn your vision into reality and provide publishing expertise and go-to-market support.</p>
        <h3>More than Games and Entertainment</h3>
        <p>While we are interested in entertainment apps, Vive Studios is actively seeking VR content from talented development studios across other key categories for VR including healthcare, education, gaming, communication, design, cinema, real estate,
            retail, live events and theme parks.</p>

        <iframe src="https://www.youtube.com/embed/7Dc7LRMaZkA" frameborder="0" allowfullscreen></iframe>
        <h1>READY TO <br><strong>BE A DEVELOPER</strong>?</h1>
        <p>Join Vive Studios today to work on the future of virtual reality.</p>
        <button class="button">Submit Proposal</button>

    </div>
    <div class="right">
        <h3>Meet the Team</h3>
        <p>Vive Studios’ aim is to nurture and discover development talent and help create content that will continually push the boundaries of the kinds of experiences VR can deliver.</p>
        <p>Joel Breton – Head of Vive Studios</p>
        <p>Brian Lowe – Executive Producer</p>
        <p>Ed Duran – Senior Produce</p>
        <p>Jason Ray – Senior Producer</p>
        <p>Chris Chin – Senior Director</p>
        <p>Jad Boniface - Director, Dev Relations &amp; Partnerships</p>
        <p>Dario Laverde - Sr Dev, Dev Relations &amp; Partnerships</p>
        <h3>Content</h3>
        <p>Front Defense by Fantahorn Studio</p>
        <p>Arcade Saga by 2Bears Studio</p>
        <p>Knockout League by Grab Games</p>
        <p>Remembering Pearl Harbor by LifeVR</p>
        <p>Make VR by Sixense</p>
        <p>VR Sports by Free Range Games</p>
        <p>Amazon Odyssey by Heavy Iron Studios</p>
        <p>Lifeliqe Education Museum by Lifeliqe</p>
        <h3>Developer Discussions</h3>
        <p>
            <a href="">Join the Conversation</a>
        </p>
        <p>Connect, critque and share your thoughts in a private forum. Learn from other developers, ask questions and connect with the community helping shape the future of virtual reality.</p>
        <h3>Discuss Development</h3>
        <p>Talk with fellow developers about your challenges and solutions developing for Vive, and VR in general.</p>
        <h3>Get Support</h3>
        <p>Talk directly to the Vive Studios teams and get help from your peers. You have a friend in the VR content business, at Vive Studios!</p>

    </div>
</div>