$PrimaryColor: #111820;
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.video {
    width: 100%;
    height: auto;
}

.button {
    background-color: #00b5e2;
    border: 1px solid #00c9fb;
    transition: 0.2s;
    outline: none;
    display: inline-block;
    border-radius: 21px;
    line-height: 38px;
    font-size: 16px;
    font-weight: 500px;
    margin: 5px 10px;
    padding: 0 30px;
    color: #fff;
}

.button:hover {
    color: black;
    background-color: #00c9fb
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-input-placeholder {
    color: white;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body {
    overflow-x: hidden;
}