<div class="carousel">
    <div class="b1">
        <div class="half h1"></div>
        <div class="half h2">
            <img src="app/assets/images/pin_01.png" alt="">
            <h1>REAL-WORLD <br><span>AWARENESS</span>
            </h1><span class="underline"></span>
            <p>Front-facing camera blends real-world elements into the virtual world.</p>
        </div>
    </div>
    <div>

    </div>
    <div class="b2">
        <div class="half h3">
            <img src="app/assets/images/pin_02.png" alt="">
            <h1>FORM-FITTING <br><span>COMFORT</span></h1>
            <span class="underline"></span>
            <p>Adjustable headset strap provides balanced comfort for extended use.</p>
        </div>
        <div class="half h4"></div>
    </div>
    <div>

    </div>
    <div class="b3">
        <div class="half h5"></div>
        <div class="half h6">
            <img src="app/assets/images/pin_03.png" alt="">
            <h1>VISUAL <br> <span>IMMERSION</span></h1>
            <span class="underline"></span>
            <p>100&deg; field fo view for captivating immersion.</p>
        </div>
    </div>
    <div>

    </div>
    <div class="b4">
        <div class="half h7">
            <img src="app/assets/images/pin_04.png" alt="">
            <h1>PRECISION <br><span>TRACKING</span></h1>
            <span class="underline"></span>
            <p>32 headset sensor for 260&deg; motion tracking.</p>
        </div>
        <div class="half h8"></div>
    </div>
    <div>

    </div>
    <div class="b5">
        <div class="half h9"></div>
        <div class="half h10">
            <img src="app/assets/images/pin_05.png" alt="">
            <h1>FEAST <br><span>YOUR EYES</span></h1> <span class="underline"></span>
            <p>2160 x 1200 combined resolution and 90 Hz refresh rate deliver eye-popping graphics and smooth action.</p>
        </div>
    </div>
    <div>

    </div>
    <div class="b6">
        <div class="half h11">
            <img src="app/assets/images/pin_06.png" alt="">
            <h1>ADJUSTABLE <br><span>EASE</span></h1>
            <span class="underline"></span>
            <p>Interchangeable foam inserts and nose pads provide customized comfort. Fits most eyeglasses.</p>
        </div>
        <div class="half h12"></div>
    </div>
    <div>

    </div>
</div>