<dev-nav></dev-nav>
<div class="banner">
    <h1>BRING THE MAGIC OF VIVE TO <br> ANY VENUE</h1>
    <h4>The world’s most immersive VR experience, now <br> commercially available</h4>
    <img src="app/assets/images/arcadelogo.png" alt="">
    <p><span>Coming April 2017</span></p>
    <button class="button">For Venues</button><button class="button">For Developers</button>
</div>
<div class="content">
    <h1><span>FOR VENUES</span></h1>
    <div class="left">

        <img src="app/assets/images/barguy.jpg" alt="">
    </div>
    <div class="right">
        <h2>Experiences they'll love</h2>
        <p>Give customers access to an immersive world full of surprise with the VIVEPORT™ ARCADE Platform solution. This is a turnkey software platform providing a library of hundreds of VR titles approved for public use. It’s available worldwide to anybody
            running commercial locations such as arcades, internet cafes, theaters, shopping malls, and any other venue where VR entertainment can be offered to the public for a fee.</p>
    </div>
</div>
<div class="content grey">
    <div class="left">
        <h2> A complete solution</h2>
        <p>Viveport Arcade Platform provides both an operating system and a library of pre-negotiated content for commercial operators. We work directly with developers to secure their content and rights for distribution.</p>
    </div>
    <div class="right"><img src="app/assets/images/headset.jpg" alt=""></div>
</div>
<div class="content">
    <div class="left"><img src="app/assets/images/how-it-works.jpg" alt=""></div>
    <div class="right">
        <h2>How it works</h2>
        <p>The download and registration process is done through a simple web portal. And fees are based on a pay-by-time model:</p>
        <ul>
            <li>Purchase time-based points in advance</li>
            <li>Use points to select from a library of VR titles</li>
            <li>Retail prices to customers are determined at your discretion</li>
            <li>Additional points are purchased at will</li>
            <li>HTC handles payment to developers; no additional payment is required by you</li>
        </ul>
        <button class=" btn button">Sign up now</button>
    </div>
</div>
<div class="resources grey">
    <h5><strong>Operator resources</strong></h5>
    <a href="">Business Purchase</a><br>
    <a href="">Pricing/fee schedule</a><br>
    <a href="">Arcade best practice</a><br>
    <a href="">Operator FAQ</a>
</div>
<div class="signup">
    <h1>Sign up for more information and updates</h1><input placeholder='Name' type="text">
    <input type="text" placeholder='Email'>
    <input type="text" placeholder='Company'>
    <input type="text" placeholder='Location(City, State, Country)'>
    <button class="button">Venue signup</button>
</div>

<div class="content">
    <h1><span>FOR DEVELOPERS</span></h1>
    <div class="left">
        <h1>

        </h1> <img src="app/assets/images/expand.jpg" alt="">
    </div>
    <div class="right">
        <h2>Expand your reach</h2>
        <p>Engage people across the globe. As a developer, your VR creations will entertain people wherever they find a Viveport Arcade in a physical location. And you’ll generate a revenue stream for each published title.</p>

    </div>
</div>
<div class="content">
    <div class="left">
        <h2>Join a premium content lineup</h2>
        <p>More than 400 global developers have currently submitted their VR content through the Viveport platform. This content is up for consideration into the catalog for arcade operators. We recommend you consider distinct versions of your titles to
            differentiate between home and public experiences. However, all are welcome to submit. Viveport Arcade will delight customers with an ever-growing library of immersive, entertaining content. Seize this opportunity to submit yours.</p>

        <button class="button">Join the Viveport Arcade Platform</button>
    </div>
    <div class="right">
        <img src="app/assets/images/elite.jpg" alt="">
    </div>
</div>
<div class="resources grey">
    <h5>Developer resources:</h5>
    <a>Developer FAQ</a></div>