.banner {
  width: 100vw;
  height: 400px;
  background-image: url("app/assets/images/arcade-banner.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  padding: 50px 10vw; }
  .banner img {
    width: 300px; }

h1 {
  font-family: "fakt";
  font-size: 36px; }

h4 {
  font-family: "fakt-blond";
  font-size: 20px; }

p {
  font-family: "fakt";
  font-size: 16px;
  line-height: 19px;
  margin: 10px 10%; }

li {
  font-family: "fakt";
  font-size: 16px; }

.btn {
  position: relative;
  margin-top: 20px;
  left: 100px; }

.resources {
  padding: 50px 10vw; }

ul {
  margin: 0 10%; }

span {
  color: #00b5e2; }

a {
  font-family: "fakt";
  font-size: 16px;
  color: #00b3e3;
  text-decoration: none; }

.signup {
  text-align: center;
  color: white;
  background-color: #00b3e3;
  padding: 50px 10vw; }
  .signup input {
    margin: 10px;
    width: 200px;
    border: none;
    border-bottom: solid 2px white;
    transition: border 0.3s;
    background-color: #00b3e3;
    color: white;
    text-align: left; }
  .signup button {
    background-color: white;
    color: #00b3e3; }

h5 {
  font-family: "fakt-bold";
  font-size: 26px; }

h2 {
  margin: 30px 10%;
  font-family: "fakt-bold";
  font-size: 26px; }

.grey {
  background-color: #e9e9e9; }

.content {
  margin: 50px 0;
  padding: 50px 10vw;
  box-sizing: border-box;
  height: 400px;
  color: #3c3c3c; }
  .content .left,
  .content .right {
    width: 50%;
    float: left; }
    .content .left img,
    .content .right img {
      max-width: 100%;
      height: auto;
      display: block; }
