.banner {
  height: 400px;
  box-sizing: border-box;
  background-image: url("app/assets/images/pc-banner.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 75px; }

h1 {
  font-family: "fakt"; }
  h1 strong {
    font-family: "fakt-bold"; }

p {
  font-family: "fakt-blond";
  line-height: 27px; }

.left {
  float: left;
  margin: 0 20px 0 0;
  width: 45%; }

.content {
  margin-left: 10vw;
  clear: both;
  color: #3c3c3c; }

.btn {
  position: relative;
  top: 50px;
  right: 40%; }
