<product-nav></product-nav>
<div class="banner">
    <div>
        <h1><strong>VIVE READY </strong>COMPUTERS
        </h1>
        <p>We’ve tested systems and worked with industry-leading manufacturers<br> to bring you computers ready for Vive right out of the box. From <br>graphics cards and processors to memory and storage space–these <br>computers deliver a superior VR experience
            thanks to superior <br>components</p>
        <button class="button">View Special Offers</button>
    </div>
</div>
<div class="content">
    <h1><strong>RECOMMENDED COMPUTER</strong> SPECS</h1>
    <div class="left">
        <p><strong>Processor: </strong>Intel™ Core™ i5-4590 or AMD FX™ 8350, equivalent or better</p>
        <p><strong>Graphics: </strong> NVIDIA GeForce™ GTX 1060 or AMD Radeon™ RX 480, equivalent or better. For additional graphics card options, view the complete list.</p>
        <p><strong>Memory: </strong>4 GB RAM or more</p>
    </div>
    <div class="left">
        <p><strong>Video output: </strong> 1x HDMI 1.4 port, or DisplayPort 1.2 or newer</p>
        <p><strong>USB: </strong>1x USB 2.0 port or newer</p>
        <p><strong>Operating system: </strong>Windows™ 7 SP1, Windows™ 8.1 or later or Windows™ 10</p>
    </div>
</div>
<button class="button btn">Test My PC</button>
<pc-carousel></pc-carousel>
<pc-carousel2></pc-carousel2>