<product-nav></product-nav>
<div class="enterprise">
    <div class="banner"></div>
    <div class="business">
        <h1>Vive Business Edition $1200† </h1>
        <p>† Excludes tax and shipping </p>
        <div class="list">
            <h3>
                Includes:</h3>
            <ul>
                <li>Dedicated Business Edition customer support line</li>
                <li>12-month limited warranty (VIVE Business Edition Limited Warranty)</li>
                <li>Headset</li>
                <li>4 face cushions (2x narrow and 2x wide)</li>
                <li>2 wireless controllers</li>
                <li>2 base stations</li>
                <li>Link box</li>
                <li>5 m (16-foot) headset extension kit</li>
                <li>Earbuds</li>
                <li>Cables, chargers and accessories</li>
            </ul>
        </div>

        <button class="button">Request Information</button>
        <button class="button">Place Order</button>
    </div>
    <hr>
    <div class="business">
        <h1>Vive Business Edition Installation Service </h1>
        <p>Our specialists can install Vive Business Edition for you with an optimal commercial setup. To get a quote for professional installation, mention <br>that you want Vive Business Edition Installation Service in the application form.</p>
        <div class="list">
            <h3>
                Installation service includes:</h3>
            <ul>
                <li>Mounting base stations</li>
                <li>Connecting Vive Business Edition components to computers</li>
                <li>Setting up Steam®VR software</li>
                <li>Organizing wires and cables</li>
                <li>Limited 30-day workmanship warranty</li>
            </ul>
        </div>
    </div>
</div>
<div class="buffer"></div>