 .banner {
     background-image: url('app/assets/images/enterprise-banner.jpg');
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     height: 350px;
     margin-bottom: 100px;
 }
 
 body {
     box-sizing: border-box;
 }