<product-nav></product-nav>
<div class='product-page'>
    <div class="video-column">
        <div class="video-caption">
            <h2><strong>ORDER</strong> VIVE $799</h2>
            <p>Get started on your VR journey with titles that make the most of VIVE’s immersive room-scale technology. When you order VIVE today, you’ll receive The Gallery - Episode 1: Call of the Starseed, Zombie Training Simulator, Richie’s Plank Experience
                and Everest VR for free.*</p>
            <button class="button">Test Your PC</button>
            <button class="button">Order Vive</button>
        </div>
    </div>

    <video class="video" autoplay loop>
        <source src="app/assets/product-banner.mp4" type="">
    </video>
    <div class="video-buffer">
        <h1 class="section-title spacer">INSIDE THE <strong>HEADSET</strong></h1>

        <p class='section-p'>Once you put on the Vive headset, you’re immersed in a world full of surprises. Walk around freely and explore everything–the Chaperone guidance system keeps you within the bounds of your play area. Stunning graphics make it feel so real and surreal
            simultaneously.
        </p>
    </div>
    <product-carousel></product-carousel>
    <div class="buffer"></div>
    <div class="image-grid">
        <div class='row'>
            <img class="product-img-1" src="app/assets/images/product-device-01.jpg" alt="">
            <img src="app/assets/images/product-device-02.jpg" alt="">
            <img src="app/assets/images/product-device-03.jpg" alt="">
        </div>
        <div class='row'>
            <img src="app/assets/images/product-device-04.jpg" alt="">
            <img src="app/assets/images/product-device-05.jpg" alt="">
            <img src="app/assets/images/product-device-06.jpg" alt="">
        </div>
    </div>
    <hr>
    <div>
        <p>.</p>
        <h1 class="section-title spacer"><strong>CONTROLLERS + BASE STATIONS</strong></h1>
        <p class='section-p'>Wireless controllers in each hand combined with precise SteamVR™ Tracking mean you can freely explore and interact with virtual objects, characters and environments. VIVE’s controllers are designed specifically for VR with intuitive controls and
            realistic haptic feedback.</p>
    </div>
    <div>
        <product-carousel2> </product-carousel2>
    </div>

    <div class="official">
        <p> .</p>
        <h1 class="section-title">OFFICIAL <strong>VIVE ACCESSORIES</strong></h1>
        <p class='section-p'>Incorporate new objects into your virtual world with VIVE Tracker. Make it easier to put on and take off the headset with VIVE Deluxe Audio Strap, featuring balanced weight distribution, interior padding and integrated on-ear headphones. Official
            accessories for VIVE are here.</p>
    </div>
    <product-carousel3 class="official"></product-carousel3>
    <p>.</p>
    <h2 style="color:white">† Sales tax not included in MSRP * Promotional content bundle available in limited quantities</h2>
    <h2>† Sales tax not included in MSRP * Promotional content bundle available in limited quantities</h2>
</div>