<div class="footer">
    <div class="social-bar">
        <h1>Join the conversation <i class="fa fa-2 fa-facebook-square"></i>
            <i class="fa fa-2 fa-twitter"></i>
            <i class="fa fa-2 fa-instagram"></i>
            <i class="fa fa-2 fa-youtube"></i></h1>
    </div>
    <div class="footer-bottom">
        <div class="footer-column">
            <div class="footer-box-container">
                <div class="footer-box">
                    <h2>LEGAL</h2>
                    <a href="https://www.htc.com/us/terms/privacy/?_ga=1.195487596.1980475260.1486657753">
                        <li>Privacy Policy</li>
                    </a>
                    <a href="https://www.vive.com/us/terms/chrome/vive-eula/">
                        <li>Terms of Use</li>
                    </a>
                    <a href="https://www.htc.com/us/terms/code-of-conduct/?_ga=1.195487596.1980475260.1486657753">
                        <li>Code of Conduct</li>
                    </a>
                    <a href="https://www.htc.com/us/terms/copyright/?_ga=1.195487596.1980475260.1486657753">
                        <li>Copyright</li>
                    </a>
                    <a href="http://dl4.htc.com/vive/safty_guide/91H02887-08M%20Rev.A.PDF?_ga=1.136317808.1980475260.1486657753">
                        <li>VIVE Safety and Regulatory Guide</li>
                    </a>
                    <a href="https://www.vive.com/us/terms/chrome/viveport-terms-of-use/">
                        <li>VIVEPORT Terms of Use</li>
                    </a>
                    <a href="http://dl4.htc.com//Web_materials/Manual/Vive/Agreement/viveport_platform_agreement_(English).pdf?_ga=1.136317808.1980475260.1486657753">
                        <li>VIVEPORT Platform Agreement</li>
                    </a>
                    <a href="https://www.htc.com/us/terms/product-security/?_ga=1.136317808.1980475260.1486657753">
                        <li>Product Security</li>
                    </a>
                    <a href="http://www.htc.com/us/terms/htc/?_ga=1.136317808.1980475260.1486657753">
                        <li>HTC Legal Documents</li>
                    </a>
                </div>
                <div class="footer-box">
                    <h2>SUPPORT</h2>
                    <a href="https://www.findmyorder.com/sstore?Action=DisplayHelpPage&SiteID=htcus&Locale=en_US&ThemeID=40324200">
                        <li>Order Help</li>
                    </a>
                    <a href="https://www.findmyorder.com/sstore?Action=DisplayCustomerServiceOrderSearchPage&SiteID=htcus&Locale=en_US&ThemeID=40324200">
                        <li>Order Status</li>
                    </a>
                    <a href="https://www.findmyorder.com/sstore?Action=DisplayReturnAndCancellationsPage&SiteID=htcus&Locale=en_US&ThemeID=40324200">
                        <li>Returns &amp; Cancellations</li>
                    </a>
                    <a href="https://store.digitalriver.com/DRHM/store?Action=DisplayShippingInformationPage&SiteID=htcus&Locale=en_US&ThemeID=40324200&Env=BASE">
                        <li>Delivery Information</li>
                    </a>
                    <a href="http://dl4.htc.com/Web_materials/Manual/Warranty/Vive/VIVE(BE)_Warranties_USA_English.pdf?_ga=1.131402575.1980475260.1486657753">
                        <li>VIVE Business Edition Limited Warranty</li>
                    </a>
                </div>
                <div class="footer-box">
                    <h2>COMPANY</h2>
                    <a href="https://www.htc.com/us/about/?_ga=1.131402575.1980475260.1486657753">
                        <li>About HTC</li>
                    </a>
                    <a href="https://www.htc.com/us/?_ga=1.131402575.1980475260.1486657753">
                        <li>HTC.com</li>
                    </a>
                    <a href="http://www.vive.com/us/vivex">
                        <li>VIVE X</li>
                    </a>
                    <a href="https://www.vive.com/us/newsroom/">
                        <li>VIVE Press Room</li>
                    </a>
                </div>
                <div class="foot-logos">
                    <img src="app/assets/images/viveportfoot.png" alt="">|<img src="app/assets/images/steamfoot.png" alt="">
                </div>
                <div class="copyright">
                    © 2011-2017 HTC Corporation

                </div>
            </div>
        </div>
    </div>
</div>