<product-nav></product-nav>
<div class="experiences">
    <div class="banner">
        <h1>EVERYTHING YOU LOVE <br> ABOUT STEAM, <strong>NOW IN VR</strong></h1>
    </div>

    <div class="content">
        <div>
            <h1>EXPERIENCE THE <strong>BEST GAMES</strong></h1>
            <p>Play, connect, create and more. Steam is the ultimate entertainment platform with the most <br> immersive VR titles being added daily.</p>
        </div>
        <div class="images">
            <div class="row1">
                <img src="app/assets/images/elitedangerous.png" alt="">
                <img src="app/assets/images/finalapproach.png" alt="">
            </div>
            <div class="row2">
                <img src="app/assets/images/fantastic.png" alt="">
                <img src="app/assets/images/tiltbrush.png" alt="">
                <img src="app/assets/images/jobsim.png" alt="">
            </div>
            <div class="row3">
                <img src="app/assets/images/audioshield.png" alt="">
                <img src="app/assets/images/arizona.png" alt="">
                <img src="app/assets/images/spacepirate.png" alt="">
            </div>

        </div>

        <div class="powered">
            <h1>POWERED BY <strong>STEAMVR&trade;</strong></h1>
            <p>With SteamVR, everything you love about Steam is now also available in virtual reality. Keep<br> tabs on the newest releases, automatically download game updates and create and share<br> content with millions of your closest friends on Steam.</p>
        </div>
    </div>

    <div class="whats-inside">
        <div>
            <h1>WHAT'S <strong>INSIDE</strong> <br>COUNTS</h1>
        </div>
    </div>
    <div class="content">

        <div class="journey">
            <h1>YOUR JOURNEY BEGINS <strong>AT VIVEPORT</strong></h1>
            <p>Viveport is the global virtual reality app store. Explore, create, connect and experience all the <br>content you love and need. Available on Vive, web browsers, and as desktop and mobile apps.</p>
        </div>
        <div class="viveport-grid">
            <div class="col1">
                <div class="viveport">

                </div>
                <div class="create">

                </div>
            </div>
            <div class="explore">

            </div>
        </div>
        <div class="room-scale">
            <h1>EXPERIENCE <strong>ROOM-SCALE</strong> VR</h1>
            <p>
                VIVE is powered by SteamVR, featuring SteamVR Tracking and the Chaperone guidance system <br>to offer superior seated, standing and room-scale experiences.Freely explore and interact with <br>the virtual world like never before.
            </p>
        </div>

    </div>
    <div class="foot-banner">
        <div>
            <h1> "Best of CES 2016" <br> -Android Authority</h1>
        </div>
    </div>

</div>