<div class="nothing">

</div>
<nav>
    <div>
        <a [routerLink]="['/product']"><span>Hardware</span></a>
    </div>
    <div>
        <a [routerLink]="['/experiences']"><span>Experiences</span></a>
    </div>
    <div>
        <a [routerLink]="['/pcs']"><span>VIVE Ready PCs</span></a>
    </div>
    <div>
        <a href=""><span>VIVE Installation Service</span></a>
    </div>
    <div>
        <a href=""><span>Enterprise</span></a>
    </div>
    <div>
        <a [routerLink]="['/accessories']"><span>Accessories</span></a>
    </div>






</nav>