<dev-nav></dev-nav>
<div class="vivex">
    <div class="banner">
        <div class="bnrcontent">
            <img src="app/assets/images/vivexinfo.png" alt="">

            <div class="buttons">
                <button class="button">
            Learn More
            </button>
                <button class="button btn2">Apply Now
                </button>
            </div>

        </div>
    </div>
    <div class="content">
        <p>Join the VR Revolution. Apply to HTC VIVE’s VR Accelerator: VIVE X. Our mission is simple: We want to help cultivate, foster and grow the global VR ecosystem by supporting startups and providing them with education, investment and mentorship.</p>
        <p>Shape the future today by participating in our accelerator programs located in Beijing, San Francisco, Taipei, ShenZhen and more locations to come.</p>
    </div>
    <div class="map"><button class="button">Get To Know Our Team</button></div>
    <div class="content-bottom">
        <h1><strong>Vive X</strong> OFFERINGS</h1>
        <div class="grid">
            <div><span class="icon1"></span>
                <p>Expertise</p>
            </div>
            <div><span class="icon2"></span>
                <p>Investment</p>
            </div>
            <div><span class="icon3"></span>
                <p>Mentorship</p>
            </div>
            <div><span class="icon4"></span>
                <p>Education</p>
            </div>
            <div><span class="icon5"></span>
                <p>Networking</p>
            </div>
            <div><span class="icon6"></span>
                <p>Support Services</p>
            </div>
        </div>
    </div>
    <div class="btmbnr">
        <h1>MAKE IT HAPPEN NOW</h1><button class="button">Apply Now</button></div>
</div>