<div class="buffer"></div>
<nav>
    <div>
        <a [routerLink]="['/developers']"><span>Developers</span></a>
    </div>
    <div>
        <a [routerLink]="['/vivex']"><span>VIVE X</span></a>
    </div>
    <div>
        <a [routerLink]="['/certification']"><span>Certification</span></a>
    </div>
    <div>
        <a [routerLink]="['/tracker']"><span>VIVE Tracker</span></a>
    </div>
    <div>
        <a [routerLink]="['/studios']"><span>VIVE Studios</span></a>
    </div>
    <div>
        <a><span>Viveport Arcade</span></a>
    </div>






</nav>