<dev-nav>
</dev-nav>
<div class="banner">
    <h1>INTRODUCING VIVEPORT <br><strong>FOR DEVELOPERS</strong></h1>
    <p class="top-p">The most creative minds are driving the world’s most <br> immersive virtual reality experiences.</p>

    <div class="sign">
        <button class="button">Become a Developer</button>
        <p>Already registered? <a href="">Sign in ></a></p>
    </div>
</div>

<div class="content">
    <div class="left">
        <img src="app/assets/images/viveport-logo.png" alt="VivePort">
        <h3>Your Life in VR</h3>
        <p>Viveport is the app store where you can explore, create, connect and experience all the content you love and need in virtual reality.</p>
        <h3>A Global Audience</h3>
        <p>Share your apps with the world. Viveport is the only global virtual reality app store–available on Vive, web browsers and as desktop and mobile apps.</p>
        <h3>Diverse Content</h3>
        <p>Viveport showcases an ever-growing portfolio of virtual reality experiences across a wide variety of content categories.</p>
        <div class="buttons">
            <div class="bigtop box">
                <h2><strong>GET STARTED</strong> DOWNLOAD THE <br>VIVE SOFTWARE</h2>
                <button class="button">Download Vive Software</button></div>
            <div class="smallbottom box">
                <p>Submit your app by November 30 for the Viveport Developer Awards.</p>
                <button class="button">Get Updates</button>
            </div>
            <div class="smallbottom box box2">
                <p>Find the latest news and announcements at the Viveport Blog.</p>
                <button class="button">Go to Blog</button>
            </div>
            <div class="smallbottom box box3">
                <p>Have a question? Head over to the FAQ</p>
                <button class="button">Viveport FAQ</button>
            </div>
        </div>
        <iframe src="https://www.youtube.com/embed/974-b5W0QLw" frameborder="0" allowfullscreen></iframe>
        <h1>READY TO <br><strong>BE A DEVELOPER?</strong></h1>
        <p>Join the thousands of Viveport creators <br> working on the future of virtual reality.</p>
        <button class="button">Sign up</button>

    </div>
    <div class="right">
        <h3>Get Started Developing For Vive</h3>
        <p>Get Started Developing For Vive</p>
        <h3>Resources</h3>
        <ul>
            <li>
                <a href="">SteamVR Developer Support</a>
            </li>
            <li>
                <a href="">SteamVR General Support</a>
            </li>
            <li>
                <a href="">Unreal Engine 4 Quickstart Guide</a>
            </li>
            <li>
                <a href="">SteamVR Unity Plugins</a>
            </li>
            <li>
                <a href="">Vive Software Unity Plugins</a>
            </li>
            <li>
                <a href="">Viveport SDK</a>
            </li>
            <li>
                <a href="">Viveport Mobile DRM SDK</a>
            </li>
        </ul>
        <h3>Developer Discussions</h3><a href="">Join the Conversation</a>
        <p>Connect, critque and share your thoughts in a private forum. Learn from other developers, ask questions and connect with the community helping shape the future of virtual reality.</p>
        <h3>Discuss Development</h3>
        <p>Talk with fellow developers about your challenges and solutions developing for Vive, and VR in general.</p>
        <h3>Get Support</h3>
        <p>As well as help from your peers, talk directly to the Vive and Viveport teams.</p>
        <h3>Viveport Feedback</h3>
        <p>Are you planning to publish on Viveport? We want to hear from you. Talk to us directly.</p>
    </div>
</div>