.banner {
  box-sizing: border-box;
  background-image: url("app/assets/images/dev-banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 375px;
  padding: 75px 10vw;
  color: #3c3c3c; }
  .banner h1 {
    font-family: "fakt-blond";
    margin-top: 0px;
    line-height: 36px; }
  .banner .top-p {
    clear: both;
    font-size: 18px; }
  .banner .sign button,
  .banner .sign p {
    float: left; }

h1 {
  font-family: "fakt";
  font-size: 30px; }

img {
  margin: 50px 0; }

h2 {
  font-family: "fakt-blond";
  font-size: 22px;
  line-height: 31px; }

h3 {
  font-family: "fakt-bold";
  font-size: 22px;
  line-height: 29px; }

p {
  font-family: "fakt-blond";
  font-size: 16px; }

li {
  list-style: none; }

ul {
  padding: 0; }

a {
  color: #00c9fb;
  text-decoration: none;
  line-height: 30px; }

strong {
  font-family: "fakt-bold"; }

.content {
  box-sizing: border-box;
  background-color: #E0e0e0;
  width: 100%;
  padding: 100px 10vw;
  height: 1900px;
  color: #3c3c3c; }
  .content .left {
    width: 60%;
    float: left; }
  .content .right {
    float: left;
    width: 25%;
    padding-left: 100px; }

.box {
  text-align: center;
  background-color: #d7d7d7;
  padding: 30px 20px;
  margin-bottom: 10px;
  box-sizing: border-box; }
  .box button {
    font-size: 14px; }

.buttons {
  width: 100%; }

.bigtop {
  width: 100%; }

.smallbottom {
  width: 32.3%;
  float: left;
  height: 200px; }

.box2 {
  margin: 0 10px; }
  .box2 p {
    margin-bottom: 31px; }

.box3 p {
  margin-bottom: 45px; }

iframe {
  width: 100%;
  height: 60vh;
  margin: 100px 0 50px 0; }
