<div class="buffer"></div>
<div class="banner">
    <h1>WRAPPED IN <strong>VIRTUAL REALITY COMFORT</strong></h1>
    <p>Audio is essential in bringing an immersive experience to life. The new Vive Deluxe Audio Strap is designed with adjustable earphones, allowing you to enjoy the 360-degree realistic sound in even more comfort and convenience. A clever way to adjust
        the strap gives you the perfect fit.</p>
    <img src="app/assets/images/audio-side.png" alt="">
</div>
<div class="content">
    <h1>COMFORT AND <strong>CONVENIENCE</strong></h1>
    <p>Enjoy your VR in ultimate comfort. The Vive Deluxe Audio Strap features interior padding for extra contentment. An adjustment dial allows for just the right fit. You can place the cable path at a side position to enjoy an even more immersive experience.</p>
    <video autoplay loop muted playsinline preload='auto'>
    <source src="app/assets/audio-strap.mp4" type="">
</video>
    <h1>CONVENIENT <strong>SOUND</strong></h1>
    <p>
        The Vive Deluxe Audio Strap provides integrated earphones with great sound quality so you will have a more convenient VR experience. The earphones offer height and angle adjustment to best fit your ears and are easy to put on and take off as well.</p>

    <img src="app/assets/images/audio-pics.jpg" alt="">
</div>
<div class="bottom">
    <div class="half"> <img src="app/assets/images/audio-bottom.png" alt=""></div>
    <div class="half">
        <div class="btmcontent">
            <h1><strong>IMMERSE YOURSELF</strong></h1>
            <p>To get the latest updates on this game-changing strap,<br> simply enter your email here.</p>
            <button class="button">Stay Updated</button>
        </div>
    </div>

</div>